.modal {
  display: flex;
  align-items: center;
  justify-content: center;

  .window {
    width: 60%;
    min-height: 400px;
    padding: 50px;
    border-radius: 50px;
    background-color: var(--main_color);
    color: var(--bg_color);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .text {
      width: 55%;

      .name {
        font-size: 45px;
        margin-bottom: 20px;
      }

      .price {
        font-size: 36px;
        margin-bottom: 20px;
        display: block;
      }

      .descr {
        font-size: 25px;
        line-height: 25px;
        font-weight: 500;
      }

      .button {
        font-size: 34px;
        margin-right: 20px;
        margin-top: 10px;
        padding: 15px 20px;
        font-weight: 600;
        border-radius: 20px;
      }

      .confirm {
        color: rgb(22, 148, 22);

        &:hover {
          background-color: rgba(124, 239, 124, 0.5);
        }
      }
      
      .remove {
        color: rgb(176, 8, 8);

        &:hover {
          background-color: rgba(240, 130, 130, 0.5);
        }
      }
    }

    .image {
      width: 40%;
      height: 400px;
    }
  }
}
