.container {
  position: relative;
  padding: 10px;
  display: block;

  .logo {
    width: 55px;
    height: 40px;
  }

  .indicator {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 5px;
    right: 5px;
    background-color: red;
    border-radius: 50%;
    font-size: 12px;
    width: 20px;
    height: 20px;
    font-weight: 600;
    color: #ffffff;
  }
}
